<style>
    .baslik {
        text-align: center;
    }
    .makale1{
        margin: 10px;
    }
    .makale2{
        margin: 10px;
    }
    .makale3{
        margin: 10px;
    }
    .makale4{
        margin: 10px;
    }
</style>
<div class="baslik">
    <div class="col-12">
        <h3 class="bg-primary text-white p3">
            HABERLER
        </h3>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3><b>SON DAKİKA HABERİ:</b></h3>
                </div>
                <div class="card text-justify"><div class="makale1">Dışişleri Bakanlığı, Almanya Dışişleri
                    Bakan Heiko Maas'ın pazartesi günü Türkiye'ye geleceğini duyurdu.
                    Bakanlık, Maas'ın çalışma ziyareti kapsamın yapacağı görüşmelerde ikili ve bölgesel konuların
                    ele alınacağını aktardı.
                    Almanya Dışişleri Bakanı Heiko Maas, 18 Ocak Pazartesi Türkiye'yi ziyaret edecek. Dışişleri
                    Bakanlığından yapılan yazılı açıklamada,
                    Bakan Maas'ın 18 Ocak Pazartesi Türkiye'ye çalışma ziyaretinde bulunacağı belirtilerek,
                    "Yapılacak görüşmelerde, ikili ve bölgesel konuların
                    yanı sıra Türkiye-Avrupa Birliği (AB) ilişkilerinin ele alınması öngörülmektedir." ifadesine yer
                    verildi.</div> 
                </div>
          <div class="vard-footer">
              <button class="btn btn-primary btn-block">Devamını Oku</button>
          </div>
            </div>
        </div>
        
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3><b>TARİHİ HABER:</b></h3>
                        </div>
                        <div class="card text-justify"><div class="makale2">Şanlıurfa'da 19’uncu yüzyılda yapıldığı tahmin edilen Germuş Kilisesi'nde 
                            bir kişi mangal kurup kebap yaptı. Ayrıca sosyal medyada paylaşılan video büyük tepki çekti.
                            Kent merkezine 10 kilometre uzaklıktaki Dağyanı Mahallesi'nde bulunan ve 19’uncu yüzyılda yapıldığı 
                            tahmin edilen, yapılan kaçak kazılar nedeniyle harabeye dönen Germuş Kilisesi, bu kez, bir lokanta 
                            sahibinin mangal yapmasıyla gündeme geldi.
                            
                            Kebapçı, sosyal medyada farkındalık oluşturmak için kilise içine mangal kurdu. İçerisi harabeye dönen
                             kilisede meşale eşliğinde mangal yakan kebapçı, bir süre yöreye özgü ciğer kebabını pişirip yanında 
                             bulunan kişilere ikram etti.</div> 
                            
                        </div>
                  <div class="vard-footer">
                      <button class="btn btn-primary btn-block">Devamını Oku</button>
                  </div>
                    </div>
                </div>

                
                     <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3><b>BİLİMSEL HABER:</b></h3>
                        </div>
                        <div class="card text-justify"><div class="makale3">Dünya Sağlık Örgütü (DSÖ) Acil Durum Komitesi, yeni tip koronavirüs 
                            (Kovid-19) salgını nedeniyle "küresel acil durumun" devamı ve uluslararası seyahatler için "aşı
                             pasaportu şartı" getirilmemesi tavsiyesinde bulundu.
                            DSÖ Genel Direktörü Tedros Adhanom Ghebreyesus, örgütün Cenevre'deki merkezinde video konferans 
                            yöntemiyle basın toplantısı düzenledi.
                            Kovid-19 aşıları için küresel dayanışma çağırısı yapan Ghebreyesus, "Sağlık çalışanları bitap 
                            düştü ve sağlık sistemleri gerildi. Bazı ülkelerde de oksijen kaynaklarının tehlikeli derecede azaldığını görüyoruz." dedi.
                            </div> 
                            
                            
                        </div>
                  <div class="vard-footer">
                      <button class="btn btn-primary btn-block">Devamını Oku</button>
                  </div>
                    </div>
                </div>
                <br><br>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3><b>EKONOMİK HABER:</b></h3>
                        </div>
                        <div class="card text-justify"><div class="makale4">Koronavirüs salgınıyla mücadele edilen ve literatüre 
                            "Büyük Duruş" olarak geçen 2020'de, merkez bankaları ekonomiyi desteklemek amacıyla 
                            yılbaşından itibaren faiz indirim yarışına girdi.
                            Küresel çapta salgınla mücadeleyle geçen ve "Büyük Duruş"un yaşandığı 2020 yılında, 
                            dünya çapında kurum ve kuruluşlar ekonomileri desteklemek için bütün imkanlarını seferber 
                            ederken, merkez bankaları da 207 kez faiz silahını çekti.
                            
                            Bireylerden şirketlere kadar ekonominin en temel birimlerinin sarsıldığı, ülkelerin 
                            sınırlarını kapattığı ve yeni bir iktisadi dönemi başlatan yeni tip koronavirüs (Kovid-19) 
                            salgını kaynaklı kriz, 1930'lardaki "Büyük Buhran" ve 2008'deki "Büyük Durgunluk"un ardından
                             "Büyük Duruş" olarak nitelendirildi.</div> 
                            
                            
                            
                        </div>
                  <div class="vard-footer">
                      <button class="btn btn-primary btn-block">Devamını Oku</button>
                  </div>
                    </div>
                </div>                                      
               
                                               
    </div>
</div>    
                                   
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                                                                                                                           
                                                                            