<style type="text/css">
  h3{
    border: 2px solid darkblue;
        padding: 20px;
        text-align: center;
  }
  h4,td{
        text-align: center;
  }
  .giris{
        text-align: center;
  }
 
</style>

  <br>
  <div class="giris">
                                                                                   
                                                          
                                                                    
                   <a href="/haberler">Haberler</a> | <a href="/uyeol">Üye Ol</a> | <a href="/uyegiris">Üye Girişi</a> 
    <router-outlet></router-outlet>
  </div>
  
<br>
<div class="container">
<div id="row">
<div class="col-12">
  <h3 class="bg-primary text-white p3">
    DURMAZER Haber Portalı
    </h3>
  <table class="table table-striped table-bordered">
   
    <thead>
    <tr>
      <th>  <h4><b>Haber İçerikleri</b></h4> </th> 
    </tr>
  </thead>
  <tbody>
     <tr>
      <td> Son Dakika Haberler </td>
    </tr>
    <tr>
      <td>Tarihi Haberler</td>
    </tr>
    <tr>
      <td>Bilimsel Haberler</td>
    </tr>
    <tr>
      <td>Ekonomik Haberler</td>
    </tr> 
  </tbody>
  
  </table>
</div>
</div>
</div>  
  

